.mainCont
    // width: 100%
    // background-color: lightgreen
    align-items: center
    display: flex
    flex-direction: column
    // justify-content: center
    // padding: 20mm
    width: 210mm
    height: 297mm
   