.calendar
    width: 100%
    height: 100%
    padding: 1em
.datePickerCont
    display: flex
    padding: 0.5em 0.7em 0.5em 0.5em
    position: relative
    font-size: 1.5em
    margin-right: 0.5em
    .monthCont
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        padding-right: 2.5em
        justify-content: space-between
        gap: 0.3em
        .monthTitle
            display: flex
            width: 100% 
            cursor: pointer
            color: #696969  
            padding: 0.2em
            transition: all 0.2s
            border-radius: 0.2em
            &:hover
                background-color: #00000010
            &:active
                    transform: scale(0.95)       
            // background-color: red
    .yearsCont
        position: absolute
        top: 0
        height: 100%
        overflow-y: scroll
        right: 0
        -ms-overflow-style: none
        scrollbar-width: none
        // padding: 1em
        &::-webkit-scrollbar
            display: none
        .year
            position: relative
            cursor: pointer
            color: #696969
            padding: 0.2em
            transition: all 0.2s
            border-radius: 0.2em
            &:hover
                background-color: #00000010
            &:active
                    transform: scale(0.95)  
        .currentYear
            color: #000
.actionCont
    display: flex
    flex-direction: column 
    padding: 1em
    .actionTitle
        display: flex
        width: 100%
        justify-content: flex-end
        color: #9E9E9E
        font-weight: 700
        font-size: 1.1em
    .actionType
        display: flex
        color: #696969
        margin-bottom: 0.3em
    .actionDateCont
        display: flex
        color: #696969
        width: 100%
        div
            text-transform: capitalize
            &:nth-child(1)
                padding-right: 1em
.content
    display: flex
    width: 100%
    height: 100%
    padding: 1em
    flex-direction: column
    .dateCont
        display: flex
        width: 100%
        margin-top: -1.3em
        // padding-right: 10em
        justify-content: center
        .dateContent
            display: flex 
            cursor: pointer
            transition: all 0.2s
            border-radius: 0.2em
            &:hover
                background-color: #00000010
            &:active
                    transform: scale(0.95) 
            .dateContentItem
                color: #696969
                font-size: 2em
                padding: 0.2em
                text-transform: uppercase
                font-weight: bold
    .daysTitleCont
        display: flex
        width: 100%
        .daysTitle 
            font-size: 1.2em
            display: flex
            color: #696969
            width: 100%
    .gridCont
        display: grid
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr
        width: 100%
        height: 100%
        align-items: center
        justify-content: space-between
        flex-direction: column
        transition: ease-in 0.3s
        gap: 1px
        position: relative
        border: 1px solid #00000030
        background-color: #00000030
        .days
            background-color: #fff
            display: flex
            // padding: 1em
            justify-content: flex-end
            width: 100%
            // flex-direction: column
            font-size: 1.5em
            padding: 0.2em
            align-items: flex-start
            height: 100%
            .dayTitle
                cursor: pointer
                padding: 0.3em
                display: flex
                // color: #fff
                transition: all 0.2s
                border-radius: 0.2em
                &:hover
                    background-color: #00000010
                &:active
                        transform: scale(0.95)
        .notCurrentDays
            background-color: #ebe8e8
        .currentDay
            background-color: #6873b1
            color: #fff
            
            


    