.buttonCont
    margin-left: 0.6em
    width: max-content
    .button
        width: max-content
        padding: 0.4em 0.7em
        color: #00000080
        border-radius: 100%
        min-width: 0
        &:active
            transform: scale(0.95)
    .simpleButton
        // padding: 0
        .textCont
            display: flex
            // width: 100%
            height: 100%
            align-items: center
            justify-content: center
            .progress
                display: flex
                // width: 100%
                height: 100%
                align-items: center
                justify-content: center
                margin-left: 0.5em
.customButton
    // padding: 0.3em 0.5em
    color: #fff
    border-radius: 0.2em
    background-color: #3F51B5
    display: flex
    align-items: center
    justify-content: space-between  
    font-size: 1.1em
    margin: 0 0.2em
    cursor: pointer
    transition: all 0.2s
    // border: 2px solid rgba(0, 0, 0, 0)
    &:active
        transform: scale(0.95)
        
.disabled
    color: inherit
    border-radius: 0.2em
    background-color: transparent
    display: flex
    align-items: center
    font-size: 1.1em
    margin: 0 0.2em
    // cursor: pointer
    transition: all 0.2s
    position: relative
    &::after
        width: 97%
        height: 91.3%
        content: ''
        border-radius: 0.2em
        // background-color: red
        position: absolute
        top: 0
        left: 0
        // border: 2px solid rgba(0, 0, 0, 0.12)