.cont
    display: flex
    align-items: center
    justify-content: center
.renderCont
    justify-content: center
    // padding: 1em
    // border: 2px solid red
    display: flex
    align-items: center
.menuItem
    display: flex
    align-items: center
    .label
        display: flex
        align-items: center