.cont
    display: flex
    flex-direction: column
    width: 100%
    .formCont
        display: flex
        width: 100%
        flex-direction: column
        // justify-content: space-between
        .formTop
            display: flex
            width: 100%
            .topColumn
                display: flex
                flex-direction: column
                width: 100%
                margin: 0.5em
                // justify-content: space-between
                .paper
                    margin-bottom: 1em
                    padding-bottom: 1em
                    min-width: 300px
                    .itemTitle
                        width: 100%
                        display: flex
                        justify-content: flex-end
                        padding: 1em 1em 0 0
                        // font-size: 28px
                        text-transform: uppercase
                        color: #9e9e9e
                        font-weight: bold
                    .topColumnItem
                        display: flex
                        // width: 100%
                        flex-direction: column
                        padding: 0.1em 1em
                        .itemChilds
                            align-items: center
                            display: flex
                            // position: relative
                            width: 100%
                            color: #696969
                            .helperButtonsCont
                                // position: relative
                                .iconButton
                                    padding: 0.5em
    .buttonCont
        width: 100%
        display: flex
        justify-content: flex-end
        // margin-bottom: 0.4em