.cont 
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    position: relative
    .formCont
        padding: 2em
        display: flex
        align-items: center
        background-color: #fff
        flex-direction: column
        position: relative
        .titleCont
            width: 100%
            display: flex
            align-items: center
            padding: 1em
            font-weight: bold
            font-size: 1.3em
            width: max-content
            justify-content: center
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
        
        

        

    