.paperCont
    display: flex
    width: 100%
    height: 100%
    padding: 1em
    .paper
        display: flex
        width: 100%
        height: 100%
        flex-direction: column
        padding: 1em
        .header
            display: flex
            width: 100%
            // background-color: red
            justify-content: flex-end
            margin-bottom: 0.5em
        .content
            display: flex
            width: 100%
            height: 100%