.cont
    display: flex
    flex-direction: column
    width: 100%
    .formCont
        display: flex
        width: 100%
        flex-direction: column
        .paper
            padding: 1em
            min-width: 300px
            .title
                display: flex
                width: 100%
                justify-content: flex-end
                color: #9E9E9E
                font-weight: 700
                font-size: 1.2em
                padding: 0 1em
            .inputCont
                display: flex
                width: 100%
                // padding: 0 0.5em
                .column
                    width: 100%
                    display: flex
                    .itemChilds
                        display: flex
                        width: 100%
                        padding: 0 1em  
    .buttonCont
        width: 100%
        display: flex
        justify-content: flex-end
        margin-top: 1em