.cont
    display: flex
    width: 100%
    align-items: center
    height: 100vh
    justify-content: center
    .arrowUpward
        position: fixed
        right: -0.2em
        bottom: 2em
        cursor: pointer
        transform: rotateZ(-90deg)
        opacity: 0
        transition: ease-in 0.3s
    .arrowUpwardShow
        animation: 1s arrowUpwardAnimation
        opacity: 1
@keyframes arrowUpwardAnimation
    0%
        opacity: 0
    100%
        opacity: 1
        
