.cont
    display: flex
    width: 100%
    height: 100%
    flex-direction: column
    align-items: flex-start
    justify-content: center
    .row
        display: flex
        width: 100%
        // flex-direction: column
        .item
            display: flex
            width: 100%
            height: 100%
            flex-direction: column
            // &:nth-child(2)
            //     width: 135%
            //     max-width: 135%
            //     display: flex
            //     height: 100%
            .map
                display: flex
                position: relative
                height: 550px
                min-height: 550px
                // max-height: 75vh
                width: 100%
                min-width: 550px
                flex-direction: column
                justify-content: space-between
                .inputCont
                    display: flex
                    background-color: #fff
                    justify-content: space-between
                    .input
                        &:nth-child(1)
                            margin-right: 0.5em
                        &:nth-child(2)
                            margin-left: 0.5em
            .paper
                padding: 1em
                overflow: hidden
                margin-left: 1em
                .itemChilds
                    display: flex
                    width: 100%
                    justify-content: space-between
                    .itemChildsTop
                        &:nth-child(1)
                            width: 25%
                        &:nth-child(2)
                            width: 70%
                    .itemChildsBlock
                        display: flex
                        flex-direction: column
                        width: 48%
        .buttonCont
            margin-top: 1em
            justify-content: flex-end
            display: flex
            width: 100%
                            
                            
