.inputUploadCont
    display: flex
    width: 100%
    flex-direction: column
    justify-content: space-between
    border-bottom: 1px solid #696969
    padding-top: 0.15em
    transition: ease-in
    transition-duration: 0.3s
    // &:hover
    //     border-bottom: 1px solid #000
    .inputCont
        display: flex
        padding-bottom: 0.7em
        width: 100%
        justify-content: space-between
        align-items: center
        .inputUploadTitle
            color: #696969
            font-size: 0.9em
            text-transform: capitalize
            white-space: nowrap
            text-overflow: ellipsis
            overflow: hidden 
            max-width: 260px
        .icon
            // background-color: red
            margin-bottom: -0.6em
        .input
            display: none
    .fileName
        display: inline-block
        text-overflow: ellipsis 
        overflow: hidden 
        width: 260px 
        text-transform: capitalize
        white-space: nowrap 
        color: blue
.errorInput
    border: none
    .error
        border-top: 2px solid red
        padding-top: 0.4em
        color: red
        width: 100%
        justify-content: start
        font-size: 0.8em
.disabledCont
    border-bottom: 1px solid #69696950
    &:hover
        border-bottom: 1px solid #69696950
    .inputCont
        .inputUploadTitle
            color: #69696995