.cont
    display: flex
    flex-direction: column
    padding: 0.7em
    align-items: flex-end
    .title
        font-weight: 700
        font-size: 1.1em
        color: #9E9E9E
        margin-bottom: 0.5em
    .text
        width: max-content
        margin-bottom: 1.5em
    .actionCont
        display: flex