.cont
    display: flex
    width: 100%
    height: 100%
    flex-direction: column
    padding: 1em
    .head
        display: flex
        width: 100%
        flex-direction: column
        .title
            font-size: 1.5em
            font-weight: bold
            color: #696969
        .columnsCont
            display: flex
            width: 100%
            color: #9E9E9E
            font-size: 1.1em
            .row
                display: flex
                width: 100%
                padding: 0.5em 0
                .cell
                    display: flex
                    width: 100%
                    align-items: center
                    justify-content: center
    .body
        display: flex
        width: 100%
        .bodyContent
            display: flex
            width: 100%
            flex-direction: column
            .row
                display: flex
                width: 100%
                padding: 0.5em 0
                .cell
                    display: flex
                    width: 100%
                    align-items: center
                    justify-content: center
        .mainCont   
            display: flex
            width: 100%
            align-items: center
            justify-content: center         
            .gridCont
                display: grid
                grid-template-columns: 1fr 1fr 1fr 1fr
                width: 100%
                align-items: center
                justify-content: center
                .role
                    display: flex
                    width: 100%
                    align-items: center
                    justify-content: flex-start
                    padding: 0 2em
                    .roleTitle
                        display: flex
                        margin-left: 0.5em