.paperCont
    display: flex
    width: 100%
    height: 100%
    padding: 1em
    .paper
        display: flex
        width: 100%
        height: 100%
        flex-direction: column
        padding: 1em
        .header
            display: flex
            width: 100%
            // background-color: red
            justify-content: space-between
            margin-bottom: 1em
        .content
            display: flex
            width: 100%
            height: 100%
            z-index: 0
            // overflow: hidden
            // align-items: center
            justify-content: space-between
            .mapCont
                display: flex
                width: 80%
                height: 100%
            