.cont
    display: flex
    flex-direction: row
    align-items: center
    position: relative
    justify-content: center
    z-index: 33
    padding: 2em 0
    // width: 100%
    // justify-content: center
    // justify-content: space-between
    .absoluteCont
        display: flex
        align-items: center
        position: absolute
        // top: -25px
        // background-color: #fff
        right: 25px
        .buttonCont
            margin-right: 1em
        .icon
            font-size: 2.3em
            transition: all 0.3s
            border-radius: 0.1em
            // padding: 0.5em
            cursor: pointer
            &:hover
                background-color: #ffffff10
            &:active
                transform: scale(0.8)
    .hide
        opacity: 0
        pointer-events: none
    // .button
    //     display: flex
    //     align-items: center
    //     padding: 0.5em
    //     cursor: pointer
    //     margin-right: 1em
    //     transition: all 0.2s
    //     border-radius: 0.2em
    //     &:hover
    //         background-color: #ffffff10
    //     &:active
    //         transform: scale(0.9)
.item   
    display: flex
    flex-direction: row
    width: 100%
    align-items: center
    padding:  0.5em 
    // margin-left: 1em
    transition: all 0.2s
    color: #000
    border-radius: 0.5em
    pointer-events: none
    &:nth-child(2)
        pointer-events: all
        cursor: pointer
        &:hover
            background-color: #00000010
        &:active
            transform: scale(0.95)
    .text
        margin-left: 0.5em
        width: max-content
        // padding: 0.5em
        color: #000
        .clickable
            cursor: pointer
            &:hover
                background-color: #ffffff10
            &:active
                transform: scale(0.95)
@media screen and ( max-width: 800px ) 
    .cont
        .item
            flex-direction: column
            .text
                    
             

        