.cont
    display: flex
    flex-direction: column
    width: 100%
    .formCont
        display: flex
        width: 100%
        .column
            display: flex
            flex-direction: column
            width: 100%
            &:nth-child(2)
                margin-left: 1em
            .item
                display: flex
                width: 100%
                margin-bottom: 1em
                .paper
                    display: flex
                    width: 100%
                    flex-direction: column
                    padding: 1em
                    min-width: 300px
                    .title
                        display: flex
                        width: 100%
                        justify-content: flex-end
                        color: #9E9E9E
                        font-weight: 700
                        font-size: 1.2em
                        padding: 0 1em
                    .inputCont
                        display: flex
                        width: 100%
                        .column
                            display: flex
                            width: 100%
                            .itemChilds
                                display: flex
                                width: 100%
                                // padding: 0 1em  
    .buttonCont
        width: 100%
        display: flex
        justify-content: flex-end
        margin-top: 1em