.cont
    height: 100%
    width: 100%
    display: flex
    flex-direction: column
    justify-content: space-between
    .tableCont
        display: flex
        height: 88%
        max-height: 88%


