.cont
    color: #696969
    display: flex
    width: 100%
    margin-top: 0.37em !important
    margin-bottom: 0.15em !important
    div
        display: flex
        font-size: 0.9em
        color: #696969
