.tableHeaderCont
    display: flex
    align-items: center
    width: 100%
    justify-content: space-between
    padding: 1em
    align-self: flex-end
    // background-color: red
    .tableHeaderTitle
        display: flex
        align-items: center
        font-size: 1.2em
        font-weight: bold
        // padding-right: 20em
    .addButtonCont
        display: flex
        align-items: center
        // position: absolute
.icon
    color: #000
