.cont   
    display: flex
    flex-direction: column
    background-color: #fff
    // width: 210mm
    // height: 297mm
    padding: 20mm
    font-size: 1.1em
    .arca
        font-size: 0.66em
        display: flex
        width: 100%
        justify-content: flex-end
    .texnik
        font-size: 0.66em
        display: flex
        width: 100%
        justify-content: flex-end
    .ariza
        display: flex
        width: 100%
        font-size: 0.66em
        justify-content: center
        font-weight: bold
        margin: 1em 0
    .onlayn
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        text-align: center
        font-size: 0.55em
        margin-bottom: 1em
    .textCont
        display: flex
        width: 100%
        font-size: 0.66em
        flex-wrap: wrap
        .text
            display: flex
        .bold
            display: flex
            // width: max-content
            font-weight: bold
            // white-space: nowrap
    .quyidagi
        display: flex
        // justify-content: center
        align-items: center
        padding-left: 2em
        width: 100%
        font-size: 0.55em
        margin: 2em 0 1em 0
    .docs
        display: flex
        align-items: center
        width: 100%
        // text-align: center
        font-size: 0.66em
        font-style: italic
        margin-bottom: 1em
    .fullName
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between
        width: 100%
        font-size: 0.66em
        margin: 2em 0 1em 0
        .fullNameItems
            display: flex
            margin-bottom: 0.5em
            width: 100%
            &:nth-child(2)
                text-decoration: underline
    .phoneCont
        display: flex
        width: 100%
        justify-content: space-between
        font-size: 0.66em
        .phone
            display: flex
            width: 100%
        .dateCont
            display: flex
            // width: 100%
            align-items: flex-end
            justify-content: space-between 
            .item
                margin-left: 2em
                display: flex
                flex-direction: column
                width: max-content
                align-items: center
                .dash
                    display: flex
                    width: 100%
                    margin-bottom: 3px
                    border-bottom: 1px solid #000
                .dateTitle
                    margin-top: 0.5em
                    display: flex
                    justify-content: center
                    width: 100px

