.cont
    width: 100%
    height: 100vh
    display: flex
    align-items: center
    justify-content: space-between
    flex-direction: column
    transition: ease-in 0.2s
    overflow: hidden
    .content
        display: flex
        width: 100%
        height: 100%
        justify-content: space-between
        align-items: center
        padding: 0.5em
        transition: ease-in 0.3s
        .gridCont
            display: grid
            width: 100%
            height: 100%
            align-items: center
            grid-template-columns: 1fr 1fr
            justify-content: space-between
            flex-direction: column
            transition: ease-in 0.3s
            gap: 0.5em
            position: relative
            overflow: hidden
.submenuItem
    display: flex
    margin: 0.5em
    align-items: center
    transition: all 0.4s
    position: relative
    .dot
        margin: 0 1em
        width: 1em
        height: 1em
        background-color: #fff
        border-radius: 100%
    .submenuTitle
        font-weight: bold
        display: flex
        font-size: 3em
        text-transform: capitalize
        pointer-events: none
        color: #fff
    .firstSubModule
        display: flex
        flex-direction: column
        margin-left: 2em
        overflow: hidden
        justify-content: center
        color: #fff
        position: absolute
        left: 100%
        opacity: 0
        transition: all 0.2s
    .firstSubModuleShow
        opacity: 1
        animation: subModuleAnime 0.7s 
        .firstSubModuleItems
            font-size: 1.5em
            padding: 0.3em
            text-transform: uppercase
            display: flex
            flex-direction: row
            .itemsTitle
                transition: all 0.2s
                display: flex
                width: max-content
            .secondSubModule
                display: flex
                margin-left: 1.5em
                padding-left: 1em
                opacity: 0
            .secondSubModuleShow
                opacity: 1
                animation: secondSubModuleAnime 1s 
                .secondSubModuleItems
                    display: flex
                    margin-right: 1em
                    transition: all 0.2s
                    width: max-content
                    &:active
                        transform: scale(0.9) 
.press
    cursor: pointer
    &:active
        transform: scale(0.9) 
.contentWithoutPadding
    padding: 0 !important
    transition: ease-in 0.3s 
.gridContWithoutGap
    transition: ease-in 0.3s 
    gap: 0px !important              
// .hide 
//     opacity: 0
//     position: absolute
//     top: 0
//     width: 100%
//     height: 100%
//     left: 0
//     display: flex
//     flex-direction: column
//     z-index: 1
//     align-items: center
//     justify-content: center
//     transition: all 0.2s
//     background-color: #4d383850
@keyframes subModuleAnime
    0%
        transform: translateY(50px)
    100%
        transform: translateY(0)
@keyframes secondSubModuleAnime
    0%
        transform: translateY(50px)
    100%
        transform: translateY(0)
        
                
            
@media screen and ( max-width: 1024px )
    .cont
        font-size: 0.5em
        // .content
        //     .item
        //         .child
        //             .layer
        //                 .title
        //                     font-size: 1em
@media screen and ( max-width: 500px )
    .cont
        font-size: 0.3em