.tableCont
    animation: bodyAnime 1.5s 
    height: 100%
    // margin: 1em
    width: 100%
    display: flex
    position: relative
    flex-direction: column
    overflow: hidden
    .icon
        font-size: 2.3em
        transition: all 0.3s
        border-radius: 0.1em
        // padding: 0.5em
        cursor: pointer
        &:hover
            background-color: #00000070
        &:active
            transform: scale(0.8)
    .container
        height: 100%
        // overflow-y: scroll
        // -ms-overflow-style: none
        // scrollbar-width: none
        position: relative
        height: 100%
        // padding-bottom: 500px
        // &::-webkit-scrollbar
        //     display: none
        &::-webkit-scrollbar
            width: 12px
            height: 12px
        &::-webkit-scrollbar-thumb
            background: #c2c2c2
            // background:  linear-gradient(130.78deg, #E9E9E9 -16.19%, #7389E8 92.59%)
            border-radius: 0.3em
            width: 10px
        .tableBody
            position: relative
            animation: bodyAnime 1s 
            // display: flex
            // width: 100%
            // height: 100%
            // background-color: #000
            .menuAction
                // position: absolute
                width: 100%
                top: 0
                left: 0
                height: 200px
                background-color: red
    .pagination
        // height: 100px
        display: flex
        align-items: center
        justify-content: center
        height: 80px
        
@keyframes bodyAnime
    0%
        transform: translateY(-200px)
    100%
        transform: translateY(0)
        
        