.cont
    display: flex
    position: absolute
    left: 0
    top: 0
    // background-color: red 
    align-items: center
    justify-content: center
    width: 100%
    height: 100%
    padding: 1em
    .item
        display: flex
        width: max-content