* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
}
.leaflet-top {
        display: flex;
}
.geosearch {
        border: none !important;
}
.leaflet-bar-part {
        display: none !important;
}
/* .reset {
        display: none !important;
} */
.open {
        background-color: #fff;
        border: none;
}
.glass {
        padding: 10px;
        border: none;
        border-radius: 5px;
}
.leaflet-bar {
        border: none !important;
}
a {
        display: inline-block;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
}
#root {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
}