.child  
    display: flex
    width: 100%
    height: 100%
    overflow: hidden
    position: relative
    transition: all 0.2s
    background-position: center
    background-size: cover
    .layer
        position: absolute
        top: 0
        width: 100%
        height: 100%
        left: 0
        display: flex
        flex-direction: column
        // cursor: pointer
        z-index: 20
        align-items: center
        justify-content: center
        transition: all 0.5s
        background-color: #00000080
        .lockIconCont
            display: flex
            width: 100%
            height: 100%
            align-items: center
            justify-content: center
            .lockIcon
                object-fit: contain
                width: 7em
                // color: #fff
                // font-size: 10em
        .moduleHeaderCont
            display: flex
            width: 100%
            justify-content: center
            align-items: center
            height: 1px
            position: relative
            z-index: 1
            // transform: translateY(6vh)
            .title
                color: #ffffff
                font-weight: 900
                font-size: 3.5em
                // z-index: -1
                pointer-events: none
                transition: all 0.4s
                // margin-top: 4.2em
            .titleShow
                margin-top: 0
        .submenu
            display: flex
            align-self: flex-start
            flex-direction: column
            position: relative
            width: 100%
            transition: all 0.2s
            height: 100%
            justify-content: space-evenly
            z-index: -1
            min-height: 100%
            // transform: translateY(100%)
        .submenuShow
            transition: all 0.3s
            display: flex
            .miniHeaderCont
                display: flex
                margin-top: 3em
                margin-bottom: -3em
                width: 100%
                justify-content: center
                align-items: center
                .title
                    color: #ffffff
                    font-weight: 900
                    font-size: 3.5em
                    pointer-events: none
                    transition: all 0.4s
            .childCont
                display: flex
                align-self: flex-start
                flex-direction: column
                position: relative
                transition: all 0.2s
                height: 100%
                font-size: 0.8em
                justify-content: space-evenly
                z-index: -1
                min-height: 100%
    .hoverLayer 
        &:hover
            background-color: #0038FF40
.fullScreenModule
    transition: all 0.3s
    position: absolute
    width: 100%
    height: 100%
    z-index: 22
    top: 0
    left: 0    
.hide 
    opacity: 0
    position: absolute
    top: 0
    width: 100%
    height: 100%
    // display: none
    left: 0
    display: flex
    flex-direction: column
    z-index: 1
    align-items: center
    justify-content: center
    transition: all 0.3s
    background-color: #00000050
@keyframes scale
    0%
        background-size: cover
    100%
        background-size: 105%
.monochrome
    filter: grayscale(100%)
        