.errCont
    -webkit-box-shadow: 0px 0px 8px -1px rgba(255,0,0,1)
    -moz-box-shadow: 0px 0px 8px -1px rgba(255,0,0,1)
    box-shadow: 0px 0px 8px -1px rgba(255,0,0,1)
.cont
    width: 100%
    height: 100%
    min-height: 400px
    align-items: center
    justify-content: center
    display: flex !important
    position: relative
    .map
        display: flex
        width: 100%
        height: 100%
        align-items: center
        justify-content: center
        