.formCont
    display: flex
    width: 100%
    padding-left: 1em
    flex-direction: column
    .formItem
        display: flex
        width: 100%
        justify-content: space-between
        .itemColumn
            width: 100%
            // padding: 0.5em
            &:nth-child(1)
                padding-right: 1em
            &:nth-child(2)
                padding-left: 1em
            .buttonCont
                height: 0px
                width: 0px
                position: absolute
                right: 3em
                // right: 10%
                top: -0.5em
            .buttonContLocker
                display: flex
                width: 100%
                align-items: center
                justify-content: flex-start
                padding-top: 1em
                &:nth-child(2)
                    background-color: red
                