.modal
    display: flex
    align-items: center
    justify-content: center
.appPaper
    width: max-content
.buttonContApp
    display: flex
    justify-content: flex-end
    width: 100%
    margin-top: 1em
.cont
    display: flex
    width: 100%
    height: 100%
    align-items: flex-start
    justify-content: center
    flex-direction: column
    .row
        display: flex
        width: 100%
        &:nth-child(1)
            margin-bottom: 1em
        .item
            display: flex
            width: 100%
            max-width: 600px
            height: 100%
            flex-direction: column
            &:nth-child(1)
                // width: 75%
                display: flex
                height: 100%
                margin-right: 1em
            .map
                display: flex
                position: relative
                height: 550px
                min-height: 550px
                // max-height: 75vh
                width: 100%
                min-width: 550px
                flex-direction: column
                justify-content: space-between
                .inputCont
                    display: flex
                    background-color: #fff
                    justify-content: space-between
                    .input
                        &:nth-child(1)
                            margin-right: 0.5em
                        &:nth-child(2)
                            margin-left: 0.5em
            .paper
                padding: 1em
                overflow: hidden
                .itemTitle
                    width: 100%
                    display: flex
                    justify-content: flex-end
                    // padding: 1em 1em 0 0
                    // font-size: 28px
                    text-transform: uppercase
                    color: #9e9e9e
                    font-weight: bold
                .itemChilds
                    display: flex
                    width: 100%
                    justify-content: space-between
                    .itemChildsTop
                        &:nth-child(1)
                            width: 25%
                        &:nth-child(2)
                            width: 70%
                    .itemChildsBlock
                        display: flex
                        flex-direction: column
                        width: 48%
            .buttonCont
                margin-top: 1em
                justify-content: flex-end
                display: flex
                width: 100%
                        
                        
