.cont
    display: flex
    width: 100%
    // padding: 0.5em
    padding-left: 1em
    flex-direction: column
    .paperCont
        width: 100%
        display: flex
        .errCont
            -webkit-box-shadow: 0px 0px 8px -1px rgba(255,0,0,1)
            -moz-box-shadow: 0px 0px 8px -1px rgba(255,0,0,1)
            box-shadow: 0px 0px 8px -1px rgba(255,0,0,1)
        .paper
            width: 100%
            display: flex
            flex-direction: column
            margin-bottom: 1em
            // padding-bottom: 1em
            min-width: 300px
            .itemTitle
                width: 100%
                display: flex
                justify-content: flex-end
                padding: 1em 1em 0 0
                // font-size: 28px
                text-transform: uppercase
                color: #9e9e9e
                font-weight: bold
            .topColumnItem
                display: flex
                width: 100%
                flex-direction: column
                padding: 0.1em 1em
                // &:nth-last-child
                //     padding-bottom: 1em
                .itemChilds
                    align-items: center
                    display: flex
                    // position: relative
                    width: 100%
                    color: #696969
            .buttonCont
                display: flex
                width: 100%
                justify-content: flex-end
                padding: 0.8em
            .waiterName
                display: flex
                width: 100%
                color: #000
                // color: #9e9e9e
                // padding: 0.5em 0 0
                justify-content: space-between
                align-items: center